.elements {
  max-width: 880px;
  margin: 0 auto;
}

.elements__cards {
  display: flex;
  list-style-type: none;
}

.element__card {
  width: 282px;
  height: 361px;
}

.element__card-img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.element__card-info {
  width: 246px;
}

.element__card_name {
}

.element__card-like {
}
