.expanded {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.916);
}

.expanded__visible {
  visibility: visible;
  opacity: 1;
}

.expanded__image {
  background-color: #fff;
  max-width: 75vw;
  max-height: 75vh;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px #00000026;
  margin: 90px auto 0;
  position: relative;
  overflow: hidden;
}

.expanded__image-open {
  max-width: 75vw;
  max-height: 75vh;
  width: 100%;
  height: 100%;
}

.expanded__close {
  border: none;
  background-color: transparent;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 45px;
  right: 95px;
}

.expanded__close:hover {
  cursor: pointer;
  opacity: 60%;
}

.expanded__paragraph {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 75vw;
  max-height: 75vh;
  margin: 10px auto;
}

.expanded__paragraph-info {
  font-weight: 400;
  color: #ffffff;
  background-size: 12px;
  line-height: 14.52px;
  margin: 10px 0 auto;
  width: 291px;
  height: 12px;
}


