.footer {
  max-width: 880px;
  margin: 67px auto 0;
  padding: 0 0 60px 0;
}

.footer__copyright {
  color: #545454;
  font-size: 18px;
  line-height: 21.78px;
}

@media screen and (max-width: 440px) {
   .footer {
    padding: 0 19px 60px 19px;
  }
}
